<ng-template #modalBayi let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalHeader.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form validControl [formGroup]="bayiKayitlariFormu" (submit)="islemiKaydet()">
        <div class="row m-0">
          <div class="col-md-12 form-group">
            <label>Bayi Kodu *</label>
            <input type="text" class="form-control" formControlName="e_bayi_kodu" title="Bayi Kodu" required>
          </div>
          <div class="col-md-12 form-group">
            <label>Bayi Adı *</label>
            <input type="text" class="form-control" formControlName="e_bayi_adi" title="Bayi Adı" required>
          </div>
          <div class="col-md-12 form-group">
            <label>Bayi Yetkilisi *</label>
            <input type="text" class="form-control" formControlName="e_yetkilisi" title="Bayi Yetkilisi" required>
          </div>
          <div class="col-md-12 form-group">
            <label>İl *</label>
            <input type="text" class="form-control" formControlName="e_il" title="İl" required>
          </div>
          <div class="col-md-12 form-group">
            <label>İlçe *</label>
            <input type="text" class="form-control" formControlName="e_ilce" title="İlçe" required>
          </div>
          <div class="col-md-12 form-group">
            <label>Fiyat Politikası *</label>
            <!-- <input type="text" class="form-control" formControlName="e_fiyat_politikasi" title="Fiyat Politikası" maxlength="1" required> -->
            <select class="form-control" formControlName="e_fiyat_politikasi" title="Fiyat Politikası" required>
              <option value="1">Düşük Fiyat Politikası</option>
              <option value="2">Standart Fiyat Politikası</option>
              <option value="3">Yüksek Fiyat Politikası</option>
            </select>
          </div>
          <div class="col-md-12 form-group">
            <label>İskonto Oranı</label>
            <input type="text" class="form-control" formControlName="e_iskonto_orani" title="İskonto Oranı" mask="separator.3" prefix="% ">
          </div>
          <div class="col-md-12 form-group">
            <label>Durum *</label>
            <select class="form-control" formControlName="e_durum" title="Durum" required>
              <option value="">-- Seçiniz --</option>
              <option value="Aktif">Aktif</option>
              <option value="Pasif">Pasif</option>
            </select>
          </div>
        </div>
        <button id="submitButton" class="hidden">Kaydet</button>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary mr-1 w-lg" *ngIf="!islemiKaydetBtn" onclick="document.getElementById('submitButton').click()">
        <i class="fas fa-check mr-2"></i> Kaydet
      </button>
      <button class="btn btn-primary mr-1 w-lg" *ngIf="islemiKaydetBtn">
        <div class="spinner-glow spinner-glow-light mt-0 mr-2"></div> Kaydeliyor
      </button>
      <button class="btn btn-outline-dark w-lg" (click)="modal.dismiss('')"><span class="fas fa-times mr-2"></span> İptal</button>
    </div>
</ng-template>

<ng-template #modalBayiKullaniciTablo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalHeader.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('');">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <div class="modal-body">
        <div class="card shadow-primary mb-3">
            <div class="card-body">
                <form class="row m-0" (submit)="bayiKullaniciKayitlariListele()">
                <div class="form-group col-md-8">
                    <label>Arama:</label>
                    <input type="text" class="form-control" [(ngModel)]="bayiKullaniciKayitlariFilterData.ARAMA" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-2">
                    <label>Durum:</label>
                    <select class="form-control" [(ngModel)]="bayiKullaniciKayitlariFilterData.e_durum" [ngModelOptions]="{standalone: true}" (change)="bayiKullaniciKayitlariListele()">
                    <option value="">-- Tümü --</option>
                    <option value="Aktif">Aktif</option>
                    <option value="Pasif">Pasif</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-dark btn-block"><i class="fas fa-sync mr-2"></i> Filtrele</button>
                </div>
                </form>
            </div>
        </div>
        
        <div class="alert alert-primary p-4" *ngIf="!bayiKullaniciKayitlari && !mainLoader">
            <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
            <span class=" valign-middle">Listelemek istediğiniz kayıt bulunamadı.</span>
            <button class="btn btn-primary fa-pull-right w-25" (click)="bayiKullanicisiEkleButton()"><span class="fas fa-plus mr-2"></span> Yeni Kullanıcı Ekle</button>
        </div>
        
        <div class="alert alert-primary p-4" *ngIf="mainLoader">
            <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
            <span class=" valign-middle">Kullanıcı kayıtları listeleniyor, lütfen bekleyiniz.</span>
        </div>
        
        <div class="card full-list-1" [hidden]="!bayiKullaniciKayitlari || mainLoader">
        <div class="card-body" *ngIf="bayiKullaniciKayitlari && !mainLoader">
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="alert-primary">
                    <th class="text-center w-15">Bayi Adı</th>
                    <th class="text-center w-15">Kullanıcı Adı</th>
                    <th class="text-center w-10">Durum</th>
                    <th class="text-center w-20">
                    <button class="btn btn-primary btn-sm btn-block " (click)="bayiKullanicisiEkleButton()"  ><i class="fas fa-plus mr-1"></i> Yeni Kullanıcı Ekle</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let kullanici of bayiKullaniciKayitlari; let i = index">
                    <td class="text-left">{{kullanici.e_bayi_adi}}</td>
                    <td class="text-left">{{kullanici.e_kull_adi}}</td>
                    <td class="text-center">
                        <span class="badge badge-success p-1 w-100 " *ngIf="kullanici.e_durum == 'Aktif'">Aktif</span>
                    <span class="badge badge-secondary p-1 w-100 " *ngIf="kullanici.e_durum != 'Aktif'">Pasif</span>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-primary w-48" style="margin-right: 3%;" (click)="bayiKullanicisiDuzenleButton(kullanici)" ><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-dark w-48" *ngIf="!silinenKayitBtnBayi[kullanici.e_id]" (click)="silButtonKullanici(kullanici, 'bayiKullaniciIslemleri/kullaniciSil');"><i class="fas fa-times"></i></button>
                        <button class="btn btn-sm btn-dark w-48" *ngIf="silinenKayitBtnBayi[kullanici.e_id]"><div class="spinner-glow spinner-glow-light mt-0"></div></button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer-pagination">
            <pagination
                [boundaryLinks]="true"
                [totalItems]="bayiKullaniciKayitlari ? bayiKullaniciKayitlari[0].TKS : 0"
                [itemsPerPage]="filterData.KS"
                [(ngModel)]="filterData.SS"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="İlk Sayfa"
                lastText="Son Sayfa"
                [maxSize]="5"
                [rotate]="false"
                (pageChanged)="filterData.SS = $event.page; bayiKullaniciKayitlariListele()"
            ></pagination>
            <div class="text-center" *ngIf="bayiKullaniciKayitlari && !mainLoader">
                <small>Toplam <strong>{{bayiKullaniciKayitlari[0].TKS}}</strong> kayıt içinden <strong>{{bayiKullaniciKayitlari.length}}</strong> tanesi listelendi.</small>
            </div>
            </div>
        </div>
        </div>
    </div>

</ng-template>

<ng-template #modalBayiKullanici let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalHeader.title}}</h4>
    </div>
    <div class="modal-body">
      <form validControl [formGroup]="bayiKullaniciKayitlariFormu" (submit)="islemiKaydetBayi()">
        <div class="row m-0">
          <div class="col-md-12 form-group" style="display: none;">
            <label>Bayi *</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="e_bayi_id" placeholder="Bayi Seçiniz" title= "Bayi" readonly required>
                <span class="input-group-btn"><button type="button" class="btn btn-primary">Bayi Seç</button></span>
              </div>
          </div>
          <div class="col-md-12 form-group">
            <label>Kullancı Adı *</label>
            <input type="text" class="form-control" formControlName="e_kull_adi" title="Kullancı Adı" required>
          </div>
          <div class="col-md-12 form-group">
            <label>Şifre *</label>
            <input type="password" class="form-control" formControlName="e_sifre" title="Şifre" required>
          </div>
          <div class="col-md-12 form-group">
            <label>Durum *</label>
            <select class="form-control" formControlName="e_durum" title="Bayi">
              <option value="">-- Seçiniz --</option>
              <option value="Aktif">Aktif</option>
              <option value="Pasif">Pasif</option>
            </select>
          </div>
        </div>
        <button id="submitButton2" class="hidden">Kaydet</button>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary mr-1 w-lg" *ngIf="!islemiKaydetBtnBayi" onclick="document.getElementById('submitButton2').click()">
        <i class="fas fa-check mr-2"></i> Kaydet
      </button>
      <button class="btn btn-primary mr-1 w-lg" *ngIf="islemiKaydetBtnBayi">
        <div class="spinner-glow spinner-glow-light mt-0 mr-2"></div> Kaydeliyor
      </button>
      <button class="btn btn-outline-dark w-lg" (click)="modal.dismiss('')"><span class="fas fa-times mr-2"></span> İptal</button>
    </div>
</ng-template>
  
<div class="separator-breadcrumb border-top mb-3"></div>

<div class="card shadow-primary mb-3">
<div class="card-body">
    <form class="row m-0" (submit)="bayiKayitlariListele()">
    <div class="form-group col-md-8">
        <label>Arama:</label>
        <input type="text" class="form-control" [(ngModel)]="filterData.ARAMA" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-2">
        <label>Durum:</label>
        <select class="form-control" [(ngModel)]="filterData.e_durum" [ngModelOptions]="{standalone: true}" (change)="bayiKayitlariListele()">
        <option value="">-- Tümü --</option>
        <option value="Aktif">Aktif</option>
        <option value="Pasif">Pasif</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <button class="btn btn-dark btn-block"><i class="fas fa-sync mr-2"></i> Filtrele</button>
    </div>
    </form>
</div>
</div>

<div class="alert alert-primary p-4" *ngIf="!bayiKayitlari && !mainLoader">
<i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
<span class=" valign-middle">Listelemek istediğiniz kayıt bulunamadı.</span>
<button class="btn btn-primary fa-pull-right w-25" (click)="ekleButton()"><span class="fas fa-plus mr-2"></span> Yeni Bayi Ekle</button>
</div>

<div class="alert alert-primary p-4" *ngIf="mainLoader">
<div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
<span class=" valign-middle">Bayi kayıtları listeleniyor, lütfen bekleyiniz.</span>
</div>

<div class="card full-list-1" [hidden]="!bayiKayitlari || mainLoader">
<div class="card-body" *ngIf="bayiKayitlari && !mainLoader">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="alert-primary">
            <th class="text-center w-5">Bayi Kodu</th>
            <th class="text-center w-15">Bayi Adı</th>
            <th class="text-center w-15">Bayi Yetkilisi</th>
            <th class="text-center w-5">İl</th>
            <th class="text-center w-5">İlçe</th>
            <th class="text-center w-10">Fiyat Politikası</th>
            <th class="text-center w-10">İskonto Oranı</th>
            <th class="text-center w-10">Durum</th>
            <th class="text-center w-20">
                <button class="btn btn-primary btn-sm btn-block " (click)="ekleButton()"  ><i class="fas fa-plus mr-1"></i> Yeni Bayi Ekle</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bayi of bayiKayitlari; let i = index">
            <td class="text-left">{{bayi.e_bayi_kodu}}</td>
            <td class="text-left">{{bayi.e_bayi_adi}}</td>
            <td class="text-left">{{bayi.e_yetkilisi}}</td>
            <td class="text-left">{{bayi.e_il}}</td>
            <td class="text-left">{{bayi.e_ilce}}</td>
            <td class="text-left" *ngIf="bayi.e_fiyat_politikasi == '1'">Düşük</td>
            <td class="text-left" *ngIf="bayi.e_fiyat_politikasi == '2'">Standart</td>
            <td class="text-left" *ngIf="bayi.e_fiyat_politikasi == '3'">Yüksek</td>
            <td class="text-left">{{bayi.e_iskonto_orani}} %</td>
            <td class="text-center">
                <span class="badge badge-success p-1 w-100 " *ngIf="bayi.e_durum == 'Aktif'">Aktif</span>
            <span class="badge badge-secondary p-1 w-100 " *ngIf="bayi.e_durum != 'Aktif'">Pasif</span>
            </td>
            <td class="text-center">
            <button class="btn btn-sm btn-outline-info w-31" style="margin-right: 3%;" (click)="bayiKullanicilariTablosu(bayi)" ><i class="ri-user-add-fill"></i></button>
            <button class="btn btn-sm btn-outline-primary w-31" style="margin-right: 3%;" (click)="duzenleButton(bayi)" ><i class="fas fa-edit"></i></button>
            <button class="btn btn-sm btn-dark w-31" *ngIf="!silinenKayitBtn[bayi.e_id]" (click)="silButton(bayi, 'bayiIslemleri/bayiSil');"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm btn-dark w-31" *ngIf="silinenKayitBtn[bayi.e_id]"><div class="spinner-glow spinner-glow-light mt-0"></div></button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="card-footer">
    <div class="card-footer-pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="bayiKayitlari ? bayiKayitlari[0].TKS : 0"
        [itemsPerPage]="filterData.KS"
        [(ngModel)]="filterData.SS"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="İlk Sayfa"
        lastText="Son Sayfa"
        [maxSize]="5"
        [rotate]="false"
        (pageChanged)="filterData.SS = $event.page; bayiKayitlariListele()"
    ></pagination>
    <div class="text-center" *ngIf="bayiKayitlari && !mainLoader">
        <small>Toplam <strong>{{bayiKayitlari[0].TKS}}</strong> kayıt içinden <strong>{{bayiKayitlari.length}}</strong> tanesi listelendi.</small>
    </div>
    </div>
</div>
</div>